*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-align:center;
}
.top_heading{
   background-color:#ccc;
   color:aliceblue;
   font-family: Arial, Helvetica, sans-serif;
   letter-spacing: 2px;
   text-align:center;
   padding:10px;
   font-size:18px;
  
}
.cards{
    display:grid;
    /* align-items:ceter; */
    /* justify-content:center; */
   grid-template-columns: repeat(4,1fr);
   

}
.card{
    /* width:22%; */
    height:auto;
    border:1px solid black;
    margin-left: 30px;
    margin-top:30px;
    background-color: #CFF5E7;
}
.card__img{
    width:100%;
}
a{
    text-decoration: none;
    width:100%;
    display:flex;
    justify-content:center;
}
button{
padding:3px 5px;
font-size: 16px;
font-family:'Times New Roman', Times, serif;
font-weight: bold;
background-color: blueviolet;
cursor: pointer;
color:white;
border:0.8px solid gainsboro;
margin-bottom:10px;
}